<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2eacaa97d84b8d7ed2faad40636393ab {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_2eacaa97d84b8d7ed2faad40636393ab" ></div>
        
</body>
<script>
    
    
            var map_2eacaa97d84b8d7ed2faad40636393ab = L.map(
                "map_2eacaa97d84b8d7ed2faad40636393ab",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a22d18dd84bf46bf7dfac9b57ebcb27e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a22d18dd84bf46bf7dfac9b57ebcb27e.addTo(map_2eacaa97d84b8d7ed2faad40636393ab);
        
    
            var marker_461ab911a064babe5f0a4e75d4a20436 = L.marker(
                [19.4326, -99.1332],
                {
}
            ).addTo(map_2eacaa97d84b8d7ed2faad40636393ab);
        
    
        var popup_42b3af02426089cf447c2e54a8c842df = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b1d3a12a13906fe3a88768c727290ec8 = $(`<div id="html_b1d3a12a13906fe3a88768c727290ec8" style="width: 100.0%; height: 100.0%;">Jose - CDMX</div>`)[0];
                popup_42b3af02426089cf447c2e54a8c842df.setContent(html_b1d3a12a13906fe3a88768c727290ec8);
            
        

        marker_461ab911a064babe5f0a4e75d4a20436.bindPopup(popup_42b3af02426089cf447c2e54a8c842df)
        ;

        
    
    
            var marker_1ac3e649bac0eee082c896be0cc3765c = L.marker(
                [55.7558, 37.6173],
                {
}
            ).addTo(map_2eacaa97d84b8d7ed2faad40636393ab);
        
    
        var popup_6a0f3f6f5440cd65bbf9f3c2bbf7f728 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c0e6099c45dc83f661e13722b96e020f = $(`<div id="html_c0e6099c45dc83f661e13722b96e020f" style="width: 100.0%; height: 100.0%;">Jose - Moscu</div>`)[0];
                popup_6a0f3f6f5440cd65bbf9f3c2bbf7f728.setContent(html_c0e6099c45dc83f661e13722b96e020f);
            
        

        marker_1ac3e649bac0eee082c896be0cc3765c.bindPopup(popup_6a0f3f6f5440cd65bbf9f3c2bbf7f728)
        ;

        
    
    
            var marker_da1adaaef6152758bd2be198a15a0f90 = L.marker(
                [19.4326, -99.1332],
                {
}
            ).addTo(map_2eacaa97d84b8d7ed2faad40636393ab);
        
    
        var popup_5c4c3b0516533310b18d81e9fbdea938 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a73b628ae48f1c3d4bffef65c47bb502 = $(`<div id="html_a73b628ae48f1c3d4bffef65c47bb502" style="width: 100.0%; height: 100.0%;">Ana - CDMX</div>`)[0];
                popup_5c4c3b0516533310b18d81e9fbdea938.setContent(html_a73b628ae48f1c3d4bffef65c47bb502);
            
        

        marker_da1adaaef6152758bd2be198a15a0f90.bindPopup(popup_5c4c3b0516533310b18d81e9fbdea938)
        ;

        
    
    
            var marker_31c79b00e951b55e18a1ddf8f4f4a60a = L.marker(
                [55.7558, 37.6173],
                {
}
            ).addTo(map_2eacaa97d84b8d7ed2faad40636393ab);
        
    
        var popup_0bd10bad45a07a6e5d25433045714b66 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_47986095c67c2a12cf884364642ce1b4 = $(`<div id="html_47986095c67c2a12cf884364642ce1b4" style="width: 100.0%; height: 100.0%;">Ana - Moscu</div>`)[0];
                popup_0bd10bad45a07a6e5d25433045714b66.setContent(html_47986095c67c2a12cf884364642ce1b4);
            
        

        marker_31c79b00e951b55e18a1ddf8f4f4a60a.bindPopup(popup_0bd10bad45a07a6e5d25433045714b66)
        ;

        
    
</script>
</html>